*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/airplane.jpg");
} 

.logo h4{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
}

.dropdown{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
.technical,.cultural{
    position: relative;
}

.technical ul,
.cultural ul{
    position: absolute;
    background: white;
    /* margin-top: 10px;  */
    width: 100px;                                   /*width of box*/
    height: 100px;                                  /*height of box*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.technical a, .cultural a{
    color: black;
    text-decoration: none;
}

.technical li,
.cultural li{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technical li:hover,
.cultural li:hover{
    background-color:#add8e6;
}

.dropdown button,
.home{
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown button:hover,
.home:hover{
    color: rgb(201, 200, 200);
}


.technical button:focus + ul,
.cultural button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.nav-banner{
    width: 100%;
    height: 100px;
    background-color: #add8e6;
}